@model WebApplication15.Models.Student
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.LabelFor(model => model.Id)
    @Html.EditorFor(model => model.Id)
    <br />

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br />

    @Html.LabelFor(model => model.BatchCode)
    @Html.EditorFor(model => model.BatchCode)
    <br />

    @Html.LabelFor(model => model.Marks)
    @Html.EditorFor(model => model.Marks)
    <br />

    <button type="submit"> Create </button>

}
